defaults
  log global
  mode tcp
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout tunnel 10m
  timeout client-fin 1s
  timeout server-fin 1s

global
  tune.bufsize 31112768

frontend rpc-fe
  bind :11111
  use_backend rpc-be

backend rpc-be
  option httpchk
  http-check send meth GET uri /status hdr Host host
  http-check expect string catching_up
  http-check expect string false

  balance roundrobin
  server rpc1 notifyu-node-thornode-1:26657
  server rpc2 notifyu-node-thornode-2:26657
  server rpc3 notifyu-node-thornode-3:26657

frontend lcd-fe
  bind :11112
  use_backend lcd-be

backend lcd-be
  balance roundrobin
  server lcd1 notifyu-node-thornode-1:1317
  server lcd2 notifyu-node-thornode-2:1317
  server lcd3 notifyu-node-thornode-3:1317
